*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
}
.main{
    min-height: 100vh;
    margin: auto;
    max-width: 80vw;
}
.main form input[type="number"],select{
    width: 20vw;
    font-size: 20px;
    margin: 10px 0;
    border-radius: 10px;
    border: 1px solid black;
}
.main form label{
    font-size: 20px;
    margin-top: 13px;
}
.main form {
    display: flex;
    flex-direction: column;
}
.btn{
    width: 144px;
    margin-top: 13px;
    padding: 5px 11px;
    border-radius: 15px;
    height: 3vw;
    font-size: 12px;
    cursor: pointer;
}
.result{
    display: none;
}
.result h3{
    margin-top: 20px;
}
.result table{
    text-align: center;
    width: 50vw;
    border: 2px solid black;
    margin-top: 10px;
    font-size: 15px;
}
.result table th{
    padding: 3px;
}
body{
    background-color: rgb(255, 236, 211);
}
.footer{
    text-align: center;
}
nav{
    background-color:rgb(236, 164, 69);
    display: flex;

}
.logo{
    display: flex;
    justify-content: center ;
    align-items: center;
    padding-left: 10px;
    margin: 0 23px;
}
nav ul{
    display: flex;
    flex-direction: row;
    font-size: 14px;
    margin: 23px;
}
nav ul li{
    text-decoration: none;
    list-style: none;
    font-size: 15px;
    font-weight: 600;

}
nav ul li a{
    padding-left: 20px;
    text-decoration: none;
    color: black;
    cursor: pointer;
    transition: all 0.5s;
}
nav ul li a:hover{
    color: blanchedalmond;
}

@media (max-width: 600px) {
            

    nav {
        flex-direction: column;
        font-size: 14px;
    }

    nav ul li {
        margin: 5px 13px;
    }

    nav ul {
        justify-content: center;
    }

    .container {
        max-width: 95vw;
    }

    .container form input[type='number'],
    select,
    label {
        width: 80vw;
    }
    .btn{
        height: 40px;
        font-size: 18px;
        
    }
}

